@use "./../components"as cp;

.result-page {
    display: grid;


    .result-wrapper {
        padding: 1rem;
        width: min(100%, 62rem);
        margin: auto;
        overflow: hidden;

        .back {
            display: flex;
            padding: .4rem .8rem;
            font-size: 1rem;
            width: max-content;
            align-items: center;
            margin-bottom: 1rem;
            gap: .5rem;

            >* {
                display: block;
            }
        }

        .controls {
            margin-bottom: 1rem;
            display: flex;
            gap: 2rem;

            .btn {
                border: .1rem solid var(--primary);

                &.active {
                    background: var(--primary);
                    color: var(--accent);
                }
            }
        }

        .display_wrapper {
            border-radius: .5em;
            --inner-shadow: .6rem -0.3rem .8rem var(--shadow);
            --radius: .25em;
            width: 100%;

            >div {
                display: none;

                &.active {
                    display: block;

                    @include cp.responsiveMedia(md) {
                        display: grid;
                    }
                }
            }


            .preload {
                position: absolute;
                background: var(--shadow);
                width: 100%;
                height: 100%;
                display: grid;
                place-content: center;

                img {
                    width: 3rem;
                }
            }

            .result-head {
                display: flex;
                flex-wrap: wrap;
                gap: .5em 1em;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1em;

                .btn {
                    font-size: 1rem !important;
                    color: var(--primary);
                }
            }

            .charts {
                grid-template-columns: auto 1fr;
                column-gap: 1em;
                box-shadow: var(--inner-shadow);
                border-radius: var(--radius);
                background: var(--bs-white);

                @include cp.responsiveMedia(md) {
                    background: transparent;
                    box-shadow: none;
                    border-radius: none;
                }

                >* {
                    @include cp.responsiveMedia(md) {
                        box-shadow: var(--inner-shadow);
                        border-radius: var(--radius);
                        background: var(--bs-white);
                    }
                }

                .position {
                    padding: 1em;
                    font-size: clamp(.8rem, 5vw - 1rem, 1rem);

                    @include cp.responsiveMedia(md) {
                        display: grid;
                        align-self: start;
                    }

                    .position_toggle {
                        background: none;
                        border: .1rem solid var(--primary);
                        text-align: start;
                        transition: .25s ease-in-out color, .25s ease-in-out background;
                        border-radius: .25em;
                        padding: .5em 1em;

                        &:hover {
                            color: var(--primary);
                        }

                        &:not(:last-of-type) {
                            margin-bottom: .5rem;
                            border-bottom: .1rem solid var(--primary);
                        }

                        &.active {
                            background: var(--primary--dark);
                            color: var(--accent);

                            &:hover {
                                background: var(--primary);
                            }
                        }
                    }
                }

                .chart-wrapper {
                    display: grid;
                    padding: 1em;
                    position: relative;
                    grid-template-rows: auto 1fr;



                    .chart {
                        overflow: hidden;
                        max-height: 25rem;
                        overflow-y: auto;
                        display: grid;
                        place-content: center;

                        canvas {
                            margin: auto;
                        }
                    }

                    .result-title {
                        color: var(--primary);
                        text-transform: uppercase;
                    }
                }
            }

            .table-wrapper {
                position: relative;
                background: var(--bs-white);
                box-shadow: var(--inner-shadow);
                border-radius: var(--radius);
                padding: 1em;

            }
        }

    }
}