@use "../../components/responsive" as res;
.vote {
    padding: 1rem;
    .vote-title {
        color: var(--primary);
        text-align: center;
    }

    .floating_form {
        color: var(--dark);
        background: var(--accent);
    }

    .positions-wrapper {
        --width: 12rem;
        padding-block-start: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--width)), 1fr));
        gap: 1rem;
        margin-bottom: 1rem;
        @include res.responsiveMedia(lg) {
            --width: 14rem;
        }
        .candidate {
            background: var(--accent);
            padding: 1rem;
            border-radius: 0.25rem;
            box-shadow: 0.6rem 0.4rem 0.2rem var(--shadow);

            .vote-title {
                text-align: start;
                font-weight: bold;
            }
            .top {
                border-radius: 0.25rem;
                overflow: hidden;
                aspect-ratio: 1/0.9;
            }
            &-image {
                height: 100%;
                width: 100%;
            }
        }
    }
    .btn {
        float: right;
    }

    .form-select {
        font-size: 1rem;
        &:focus {
            border-color: var(--primary--light);
            box-shadow: 0 0 0 0.3rem var(--primary--light);
        }
    }

    #confirmVote {
        .list-group {
            margin-bottom: 0.6rem;
            .list-group-item {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                font-size: clamp(1rem, 3vw, 1.2rem);
                span {
                    &:first-of-type {
                        font-weight: bold;
                        color: var(--primary);
                        font-style: italic;
                    }
                }
            }
        }
    }
}
